<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/work/BasisChallenge">
        <classes>
            <class name="tests.AttachingResumeTests">
                <methods>
                    <include name="attachPDFFilePositive"/>
                    <include name="attachWordFilePositive"/>
                    <include name="attachWordFileNegative"/>
                    <include name="attachPDFFileNegative"/>
                </methods>
            </class>
            <class name="tests.JobApplicationTest">
                <methods>
                    <include name="applyJob"/>
                </methods>
            </class>
            <class name="tests.PronounsTest">
                <methods>
                    <include name="testSinglePronounsTest"/>
                    <include name="testMultiplePronounsTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>